<footer class="footer mt-auto py-5" style="background: linear-gradient(90deg, #4CAF50, #009688);">
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-4">
                <div class="d-flex align-items-center mb-3">
                    <img src="/images/logo.svg" alt="CareerTest Logo">
                </div>
                <p class="text-white">Hướng nghiệp thông minh - Dẫn lối thành công.</p>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4">
                        <ul class="list-unstyled">
                            <li><a href="/" class="text-white text-decoration-none mb-2 d-block">Trang chủ</a></li>
                            <li><a href="/about" class="text-white text-decoration-none mb-2 d-block">Về chúng tôi</a></li>
                            <li><a href="/faq" class="text-white text-decoration-none mb-2 d-block">Câu hỏi thường gặp</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-unstyled">
                            <li><a href="/contact" class="text-white text-decoration-none mb-2 d-block">Liên hệ</a></li>
                            <li><a href="/login" class="text-white text-decoration-none mb-2 d-block">Đăng nhập</a></li>
                            <li><a href="/career-test" class="text-white text-decoration-none mb-2 d-block">Trắc nghiệm hướng nghiệp</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-unstyled">
                            <li><a href="/privacy" class="text-white text-decoration-none mb-2 d-block">Chính sách bảo mật</a></li>
                            <li><a href="/terms" class="text-white text-decoration-none mb-2 d-block">Điều khoản sử dụng</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr style="border-color: rgba(255,255,255,0.1);">
        <div class="row">
            <div class="col-md-12 text-end">
                <p class="text-white mb-0">Disclaimer: Website không cung cấp lời khuyên chuyên môn hay ý kiến mạng... <a href="#" class="text-white text-decoration-underline">đọc thêm</a></p>
                <hr class="w-50 mx-auto" style="border-color: white; border-width: 3px;opacity: 1; margin-top: 50px;">
            </div>
            <div class="col-md-12 pt-3 text-center">
                <p class="text-white mb-0">Copyright ©2025 DTS Group. CareerTest. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer> 